

.login-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left , rgba(47, 55, 71, 0.52), rgba(12, 20, 70, 0.561)), url("https://www.planetware.com/wpimages/2020/08/top-attractions-in-the-world-china-great-wall.jpg");
    background-size: cover;
    width: 100%;
    height: 900px;
}
.login-container .form-container{
    width: 400px;
    background-color: rgba(209, 209, 250, 0.342);
    border-radius: 10px;
    text-align: center;
    padding: 30px 0;
    
}

.btn-bg-color{
    background: linear-gradient(to left,#33A852,#F9BB08);
}